body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-inherit: inherit;
  
    /* font sizes */
    --font-size-24l: 24px;
    --font-size-32l: 32px;
    --font-size-40l: 40px;
  
    /* Colors */
    --color-whitesmoke: #f0f0f0;
    --color-black: #000;
    --color-steelblue: #007cc2;
    --color-white: #fff;
  
    /* border radiuses */
    --br-xs: 12px;
  }
  